version: "3.9"

services:

  backend:
    build: ./backend
    container_name: collab_backend

    ports:
      - "8000:8000"

    depends_on:
      - postgres
      - redis

    environment:
      DATABASE_URL: postgresql+asyncpg://collab_user:collab_pass@postgres:5432/collab_db
      REDIS_HOST: redis

  postgres:
    image: postgres:15
    container_name: collab_postgres

    environment:
      POSTGRES_USER: collab_user
      POSTGRES_PASSWORD: collab_pass
      POSTGRES_DB: collab_db

    ports:
      - "5432:5432"

    volumes:
      - postgres_data:/var/lib/postgresql/data

  redis:
    image: redis:7
    container_name: collab_redis

    ports:
      - "6379:6379"

    volumes:
      - redis_data:/data


volumes:
  postgres_data:
  redis_data:
